@media screen and (max-width: 1446px) {
  .header {
    padding: 0px 120px;
  }

  .sectionone {
    padding: 0px 120px;
    min-height: 100vh;
  }

  .sectionone img {
    width: 40%;
  }

  .sectiontwo {
    padding: 0px 120px;
    min-height: 100vh;
  }

  .sectionthree {
    padding: 0px 120px;
    min-height: 100vh;
  }

  .third {
    margin-left: 30px;
  }

  .thirdtwo img {
    margin-top: 10px;
  }

  .sectionfour {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    padding: 0px 120px;
    min-height: 90vh;
  }
}

@media screen and (min-width: 820.1px) and (max-width: 1200px) {
  .sectionone {
    padding: 0px 140px;
    min-height: 130vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .first {
    padding: 0px 10px;
  }

  h1 {
    max-width: none;
  }

  .sectionone img {
    float: none;
    width: 50%;
    margin-top: 40px;
  }
}

@media screen and (max-width: 820px) {
  .header {
    padding: 0px 90px;
  }

  .navbar {
    flex-direction: column;
    padding: 20px 30px 10px 30px;
  }

  .logo {
    padding-bottom: 5 px;
  }

  .menu {
    align-items: center;
    flex-direction: column;
  }

  .menu a {
    line-height: 2em;
  }

  .sectionone {
    padding: 0px 90px;
    min-height: 140vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .first {
    padding: 0px 10px;
  }

  h1 {
    max-width: none;
  }

  .sectionone img {
    float: none;
    width: 80%;
    margin-top: 40px;
  }

  .sectiontwo {
    padding: 0px 90px;
    min-height: 130vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sectiontwo a {
    width: 60%;
  }

  .second {
    padding: 0px;
    max-width: 70vw;
  }

  h2 {
    margin-top: 50px;
  }

  .sectionthree {
    padding: 0px 90px;
    min-height: 130vh;
  }

  .third {
    margin-left: 30px;
  }

  .thirdtwo img {
    margin-left: 30px;
    margin-top: 10px;
    width: 30%;
  }

  .sectionfour {
    padding: 0px 90px;
    min-height: 140vh;
  }

  .doggy {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .d1 {
    width: 70%;
    margin-top: 30px;
  }
}

@media screen and (max-width: 643px) {
  .sectionthree {
    padding: 0px 90px;
    min-height: 160vh;
  }

  .thirdone {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .thirdtwo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin-top: 10px;
  }

  .thirdtwo img {
    margin-left: 0px;
    margin-top: 20px;
    width: 50%;
  }
}
