@media screen and (max-width: 576px) {
  .navbar {
    flex-direction: column;
  }

  .menu {
    flex-direction: column;
  }

  .menu a {
    line-height: 2em;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .navbar {
    background-color: blue;
  }

  .container {
    width: 540px;
    background-color: aqua;
    margin: auto;
}
}